{% extends "headers.html" %}
{% block content %}

<!-- Main Content -->
<main class="bg-light bg-gradient" style="margin-top: 0;">
  <h2 class="display-1 text-center" style="margin-top: 145px;"> About Us</h2>


  <div style="max-width: 800px; margin: 0 auto; padding: 20px; text-align: center;">
    <p>
      Welcome to Tailored Travel, your go-to platform for personalized travel planning and seamless itinerary creation. At Tailored Travel, we understand that every journey is unique. That’s why we are committed to offering you the perfect tools and resources to make your travel experience truly unforgettable.
    </p>
    <p>
      Our team specializes in crafting personalized travel itineraries that cater to your unique preferences. Whether you're seeking adventure, culture, or relaxation, our platform is designed to help you plan the perfect trip effortlessly. Our service is for everyone, from seasoned explorers to first-time travelers.
    </p>
    <p>
      Founded by four enthusiastic third-year BE IT students—Prakhar, Vedant, Sarvesh, and Priyesh—we combine our technical expertise and passion for travel to bring you the best in customized planning. Let us handle the details, so you can focus on creating unforgettable memories.
    </p>
    <p>
      Join us on this journey, and let's explore the world together! Your adventure awaits, and we are here to help you every step of the way.
    </p>
  </div>
  
</main>
  <!-- Elements -->
  <div class="element-container">

<!-- Footer -->

<footer class="jumbotron text-center text-white fixed-bottom" style="background-color: #030303">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0)">
    <p>&copy {{now.year}} Copyright</p>
    
  </div>
</footer>
{% endblock %}
</body>

</html>